* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 2px solid red; */
}

body {
    background-color: rgba(0, 0, 0, 0.671);
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    text-align: center;
    margin: 32px 0;
    color: yellow;
}

h2 {
    color: rgb(255, 166, 0);
    margin: 12px 0;
}

p {
    margin: 10px 0;
}

ul, ol {
    line-height: 20px;
    margin-bottom: 15px;
}

img {
    width: 300px;
    margin-bottom: 15px;
}

.recettes {
    background-color: rgba(153, 205, 50, 0.226);
    border-radius: 20px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
